.cart {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 6rem;

  padding: 3rem 6rem;
}

.cart table {
  width: 100%;
  text-align: left;

  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

.cart thead {
  position: relative;
}

.cart thead,
.cart tbody {
  display: flex;
  align-items: stretch;
}

.cart tbody {
  flex-direction: column;
  gap: 3rem;
}

.cart tr {
  flex: 1;

  display: flex;
  align-items: center;
  gap: 6rem;
}

.cart th,
.cart td {
  flex: 1;
}

.cart th:nth-of-type(1),
.cart td:nth-of-type(1) {
  flex: 0 0 30%;
}

.cart tbody td {
  display: flex;
  align-items: center;
}

.cart td:nth-of-type(1) {
  justify-content: space-between;
}

.checkoutSection {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: rgba(217, 217, 217, 0.5);
  padding: 4rem 6rem;
}

.checkoutSection a:link,
.checkoutSection a:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-color);
}

.checkoutSection button a:link,
.checkoutSection button a:visited {
  width: 100%;
  height: 100%;
  color: var(--secondary-color);
}

.checkoutSection div:nth-of-type(1) {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 10rem;
}

.checkoutSection div:nth-of-type(1) p:nth-of-type(1) {
  padding: 1.5rem 3rem;
  border-radius: 1rem;
  border: 1px solid var(--secondary-color);
}

.checkoutSection div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.checkoutSection button {
  width: 40%;
  flex: 0 0 auto;

  font-size: inherit;
  padding: 2rem 0;
  background: var(--primary-color);
}
