.list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  list-style: none;
  position: relative;

  flex: 1;
}

.list a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  color: unset;
  padding: 1rem 2rem;
  text-decoration: none;
}

.dropdown {
  position: absolute;
  top: 8rem;

  list-style: none;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
}
